body {
  background-color: #F1D1C9;
}

.glyphicon {
  font-size: 40px;
  margin-top:80px;
}

.glyphicon:hover {
  color:#FFFFFF;
  font-size: 40px;
}
.dropdown-menu li a{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:4px;

}
.dropdown-menu li a:hover {
  color:#C3DCD9;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
.me{
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:4px;
  margin-top: 30px;
  margin-bottom: 80px;
  color: #FFFFFF;


}
.name {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:3px;
  margin-top: 30px;
  margin-bottom: 80px;
  color: #FFFFFF;

}

.bkk{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:3px;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #FFFFFF;

}



h1{
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:4px;
   margin-top: 100px ;
   margin-bottom: 130px;
   color:#FFFFFF;
}

h2,h3,h4 {
  margin-top: 30px;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:2px;
  color:#FFFFFF;
}

  h2:hover,h3:hover,h4:hover {
    color:#C3DCD9;
  }


  h2 a {
      color:#FFFFFF;
}
h2 a:hover{
  color:#C3DCD9;
  text-decoration: none;

}
