body {
  background-color: #F1D1C9;
}

.glyphicon {
  font-size: 40px;
  margin-top:80px;
}

.glyphicon:hover {
  color:#FFFFFF;
  font-size: 40px;
}
.dropdown-menu li a{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:4px;

}
.dropdown-menu li a:hover {
  color:#C3DCD9;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.design img{
  width:250px;
  height: 250px;
}

.photo img{
  width:250px;
  height: 250px;
}

h1{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:4px;
   margin-top: 100px ;
   margin-bottom: 130px;
   color:#FFFFFF;
   }

.mood{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:4px;
   margin-top: 150px ;
   margin-bottom: 130px;
   color:#FFFFFF;
   }


h2{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:4px;
   margin-top: 30px ;
   margin-bottom: 100px;
   color:#FFFFFF;
}

h3{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:4px;
   margin-top: 30px ;
   margin-bottom: 100px;
   color:#FFFFFF;

}


.font{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:4px;
   margin-top: 100px ;
   margin-bottom: 130px;
   color:#FFFFFF;

}

.sign{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:4px;
   margin-top: 100px ;
   margin-bottom: 130px;
   color:#FFFFFF;

}

.phone{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:4px;
   margin-top: 100px ;
   margin-bottom: 130px;
   color:#FFFFFF;

}
.case img{
  margin-bottom: 600px;
}
