body {
  background-color: #F1D1C9;
}

.glyphicon {
  font-size: 40px;
  margin-top:80px;
}

.glyphicon:hover {
  color:#FFFFFF;
  font-size: 40px;
}
.dropdown-menu li a{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:4px;

}
.dropdown-menu li a:hover {
  color:#C3DCD9;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:4px;
   margin-top: 100px ;
   margin-bottom: 130px;
   color:#FFFFFF;
}

.mood
{
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:4px;
   margin-top: 100px ;
   margin-bottom: 130px;
   color:#FFFFFF;
}

.u1 img{
  width:200px;
  height: 200px;

margin-right: 140px;
margin-bottom: 50px;
}


.u2 img{
  width:200px;
  height: 200px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 50px;
}


.u3 img{
  width:200px;
  height: 200px;
  margin-left: 140px;
  margin-bottom: 50px;

}

.u4 img{
  width:200px;
  height: 200px;
  margin-left: 200px;
  margin-bottom: 50px;

}


h2  {
    color:#FFFFFF;
    margin-top: 70px;
    margin-right: 60px;
    font-size: 30px;
      letter-spacing:2px;
}




h3  {
    color:#FFFFFF;
    margin-top: 70px;
    margin-left: 100px;
    font-size: 30px;
      letter-spacing:2px;

}



h4  {
    color:#FFFFFF;
    margin-top: 70px;
    margin-left: 210px;
      letter-spacing:2px;
  font-size: 30px;

}

h5{
    color:#FFFFFF;
    margin-top: 70px;
    margin-left: 260px;
      letter-spacing:2px;
  font-size: 30px;

}

.su img {
  width: 1366px;
  height: 1061px;
  margin-top: 300px;
  margin-bottom: 200px;

}

.only{
   font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:4px;
   margin-top: 100px ;
   margin-bottom: 500px;
   color:#FFFFFF;
}
